@model Dictionary<PrototypeTopCoder.Models.CompetitionModel, PrototypeTopCoder.Models.UserCompetitionState>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Description</th>
    </tr> 

    @foreach (KeyValuePair<PrototypeTopCoder.Models.CompetitionModel, PrototypeTopCoder.Models.UserCompetitionState> entry in Model)
    {
        PrototypeTopCoder.Models.CompetitionModel competition = entry.Key;
        PrototypeTopCoder.Models.UserCompetitionState userState = entry.Value;
        PrototypeTopCoder.Models.CompetitionState competitionState = competition.State;
        
        <tr>
            <td>@competition.Name</td>
            <td>@competition.Start</td>
            <td>@competition.End</td>
            <td>@competition.Duration</td>
            <td>@competition.Description</td>
            @if (Session["username"] != null)
            {
                if (competitionState == PrototypeTopCoder.Models.CompetitionState.Ended)
                {
                    <td>Finished!</td>
                }
                else if (competitionState == PrototypeTopCoder.Models.CompetitionState.NotStarted)
                {
                    <td>Starts in ~ @((int)(competition.Start - System.DateTime.Now).TotalHours) hours</td>
                
                    if (userState == PrototypeTopCoder.Models.UserCompetitionState.NotEnrolled)
                    { 
                        <td>@Html.ActionLink("Enroll", "EnrollForCompetition", new { id = competition.ID })</td>
                    }
                }
                else if (competitionState == PrototypeTopCoder.Models.CompetitionState.InProgress)
                { 
                    <td>Ends in ~ @((int)(competition.End - System.DateTime.Now).TotalHours) hours</td>
                                    
                    if (userState == PrototypeTopCoder.Models.UserCompetitionState.NotEnrolled)
                    { 
                        <td>@Html.ActionLink("Enroll", "EnrollForCompetition", new { id = competition.ID })</td>
                    }
                    else if (userState == PrototypeTopCoder.Models.UserCompetitionState.NotStarted)
                    { 
                        <td>@Html.ActionLink("Enter Now", "EnterCompetition", new { id = competition.ID })</td> 
                    }
                    else if (userState == PrototypeTopCoder.Models.UserCompetitionState.InProgress)
                    { 
                        <td>@Html.ActionLink("Continue", "EnterCompetition", new { id = competition.ID })</td>
                    }
                    else if (userState == PrototypeTopCoder.Models.UserCompetitionState.Ended)
                    {
                        <td>Session inished!</td>
                    }
                }
            }
        </tr>
    }
</table>
