@model PrototypeTopCoder.Models.HomeModel

@{
	ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<table>
	<tr>
		<th>Name</th><th>Start</th><th>End</th><th>Duration</th><th>Description</th>
	</tr>
	@foreach (PrototypeTopCoder.Models.CompetitionModel competition in Model.Competitions)
	{
		<tr>
			<td>@competition.Name</td>
			<td>@competition.Start</td>
			<td>@competition.End</td>
			<td>@competition.Duration</td>
			<td>@competition.Description</td>
		</tr>
	}
</table>
