@model PrototypeTopCoder.Models.CompetitionModel

@{
    ViewBag.Title = "EditCompetition";
}

<h2>EditCompetition</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CompetitionModel</legend>

               <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoryId, ((List<PrototypeTopCoder.Category>)ViewBag.Categories).
                Select(x => new SelectListItem() {Text = x.Name, Value = x.ID.ToString(), Selected = Model.CategoryId == x.ID}))
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Start)
        </div>
        <div class="editor-field">
            <div class="input-append date" id="start_wrapper">
                @Html.TextBoxFor(model => model.Start, new { data_format="MM/dd/yyyy HH:mm:ss PP"})
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.Start)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.End)
        </div>
        <div class="editor-field">
            <div class="input-append date" id="end_wrapper">
                @Html.TextBoxFor(model => model.End, new { data_format = "MM/dd/yyyy HH:mm:ss PP" })
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.End)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SelectedProblems)
        </div>
        <div>
            @Html.ListBoxFor(model => model.SelectedProblems, Model.ProblemList)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(function () {
        $('#start_wrapper').datetimepicker();
        $('#end_wrapper').datetimepicker();
    });
</script>
