@model PrototypeTopCoder.Models.ProblemModel
           
@{
    ViewBag.Title = "Viewing problem " + Model.Title;
}

<h2>Details for problem <span class="problemTitle">@Model.Title</span></h2>

@if (Model is PrototypeTopCoder.Models.SimpleTestProblemModel)
{
    @* @Html.Partial("~/Views/Competition/TestProblem.cshtml", Model) *@
    @Html.Partial("ViewSimpleTestProblem", Model)
}
else if (Model is PrototypeTopCoder.Models.ComplexTestProblemModel)
{
    @Html.Partial("ViewComplexTestProblem", Model)
}
else if (Model is PrototypeTopCoder.Models.HumanGradableProblemModel)
{
    @Html.Partial("ViewHumanGradableProblem", Model)
}
else
{
    @Html.Label("Nqma takis")
}