@model PrototypeTopCoder.Models.ComplexTestProblemModel

<fieldset>
    <div class="display-label">Question</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    @for (int i = 0; i < Model.Options.Count; ++i)
    { 
        <input type="checkbox" @(Model.CorrectAnswers.Contains(i) ? "checked" : "") disabled style="float: left; margin-right: 10px;" />
        <label>@Model.Options[i]</label>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "DeleteTask", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
