@model Tuple<PrototypeTopCoder.Models.ComplexTestProblemModel, PrototypeTopCoder.Models.ComplexProblemAnswer>

<script>
    $(function () {
        var id = @Model.Item1.ID
        $('[name="question' + id + '"]').click(function () {
            var selected = "";
            $("input[type='checkbox'][name='question" + id + "']:checked").each(function () {
                    selected += "," + $(this).val();
            });

            if (selected.length > 0)
                selected = selected.substring(1);

            $.ajax({
                url: "/Competition/SubmitComplexQuestion/" + id + "?answer=" + selected
            }).done(function (data) {
                if (data == "OK") {
                } else {
                }
            });
        });
    });
</script>

<div class="problem">
    <div class="display-field">
        @Html.Raw(Model.Item1.Question)
    </div>

    @for (int i = 0; i < Model.Item1.Options.Count; ++i)
    {
        var selected = Model.Item2 != null && Model.Item2.Answers.Contains(i);
        <input type="checkbox" name=@("question" + Model.Item1.ID) value="@i" @(selected ? "checked" : "")/>
        <label for="option">@Model.Item1.Options[i]</label>
    }
</div>
