@model PrototypeTopCoder.Models.InsideCompetitionModel

@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/custom/competition.js")" type="text/javascript"></script>
<div>
    <div id="countdown">
        <span id="timeLeft" data-timeLeft="@Convert.ToInt32(Model.TimeLeft.TotalSeconds)">@Model.TimeLeft.ToString(@"hh\:mm\:ss")</span>s left.
    </div>

    @for (int i = 0; i < Model.Problems.Count; ++i)
    {
        var problem = Model.Problems[i];
        <div>
            Question @(i + 1). <span class="problemTitle">@problem.Title</span>
        </div>
        switch (problem.Type)
        {
            case PrototypeTopCoder.Models.ProblemType.SimpleTestQuestion:
                @Html.Partial("~/Views/Competition/TestProblem.cshtml", problem)
                break;
            case PrototypeTopCoder.Models.ProblemType.ComplexTextQuestion:
                @Html.Partial("~/VIews/Competition/ComplexTestProblem.cshtml", problem)
                break;
        }
    }
    </div> 
