@model Tuple<PrototypeTopCoder.Models.SimpleTestProblemModel, PrototypeTopCoder.Models.SimpleProblemAnswer>

<script>
    $(function () {
        var id = @Model.Item1.ID
        $('[name="question' + id + '"]').click(function () {
            var value = this.value;
            $.ajax({
                url: "/Competition/SubmitSimpleQuestion/" + id + "?answer=" + value
            }).done(function (data) {
                if (data == "OK") {
                    
                } else {
                    
                }
            });
        });
    });
</script>

<div class="problem">
    <div class="display-field">
        @Html.Raw(Model.Item1.Question)
    </div>

    @for (int i = 0; i < Model.Item1.Options.Count; ++i)
    {
        var selected = Model.Item2 != null && Model.Item2.Answer == i;
        <input type="radio" name=@("question" + Model.Item1.ID) value="@i" @(selected ? "checked" : "") />
        <label for="question@Model.ID">@Model.Item1.Options[i]</label>
    }
</div>
