<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
@*    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
@*    <link href="@Url.Content("~/Content/home.css")" rel="stylesheet" type="text/css" />*@
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tinymce/tiny_mce.js")" type="text/javascript"></script>
    <script type="text/javascript">
        uploadUrl = '@Url.Action("Index", "Upload")';
    </script>
    <script src="@Url.Content("~/Scripts/custom/TinyMCE.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="row-fluid">
                <div class="span3 offset3 logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content/img/logo.png")" alt="better logo" />
                        <span>better</span>
                    </a>
                </div>
                <div class="span3 offset2 logOn">
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <ul class="offset2 span2 menu">
            <li>@Html.ActionLink("home", "Index", "Home")</li>
            <li><a href="#">contests</a></li>
            <li><a href="#">event calendar</a></li>
            <li><a href="#">statistics</a></li>
            <li>@Html.ActionLink("about", "About", "Home")</li>
            @if (Session["isAdmin"] != null && (bool)Session["isAdmin"] == true)
            {
                <li>@Html.ActionLink("admin", "Index", "Admin")</li>
            }
        </ul>
        <div class="span7">
            @RenderBody()
        </div>
    </div>
</body>
</html>
